@import "../../GlobalStyles.scss";

.modal {
  &Background {
    opacity: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &PositionDiv {
    z-index: 200;
    position: fixed;
  }

  &Info {
    z-index: 201;
    background-color: white;
    border: 1px solid red;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgba(220, 229, 232, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(149, 214, 238, 0.59);
    font-family: $primary-font;
    color: black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
  }

  &Button-close {
    width: fit-content;
    align-self: flex-end;
  }

  &Plot {
    box-sizing: border-box;
    overflow: scroll;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 11px;
    box-shadow: 5px 5px 5px black;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background: rgba(0, 0, 0, 0.8);
  }

  &Plot {
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  &TitleDiv {
    border: 1px solid rgba(149, 214, 238, 0.59);
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    margin-top: 5px;
    h2,
    p {
      text-align: center;
      margin: 5px;
    }
    p {
      font-weight: bold;
      margin: 0;
    }
  }
}
