@import "../../GlobalStyles.scss";

.modal {
  &Background {
    background-color: black;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &PositionDiv {
    z-index: 200;
    position: fixed;
    top: 10%;
    left: 25%;
  }

  &Info {
    z-index: 200;
    background-color: white;
    border: 1px solid red;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;

    background: rgba(220, 229, 232, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(149, 214, 238, 0.59);
    font-family: $primary-font;
    color: black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
  }

  &Button-close {
    width: fit-content;
    align-self: flex-end;
  }

  &Plot {
    box-sizing: border-box;
    overflow: scroll;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 11px;
    box-shadow: 5px 5px 5px black;
  }

  &Plot {
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
