.movieCard{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

.posterImage{
    max-width: 90%;
}