@import "../../GlobalStyles.scss";

.header {
  color: white;
  background: rgba(220, 229, 232, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(149, 214, 238, 0.59);
  font-family: $primary-font;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.titleInput {
  background: rgba(220, 229, 232, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgb(252 22 209 / 0%);
  height: 4vh;
  margin: 0px 0px 20px 0px;
  outline: none;
  color: white;
  text-align: center;
  width: 30vw;
  transition: border ease-in 0.1s;

  &::placeholder {
    color: rgba(165, 53, 53, 0.384);
    text-align: center;
  }
  &:focus {
    border: 2px solid #d54747be;
  }
}

.headerMessage {
  margin-top: 0;
}
